<section class="customer">
  <h2 class="customer-title">WHAT OUR COSTUMER’S SAY</h2>
  <img
    src="./img/customer-img/Ellipse 1.png"
    alt="Jon Doe"
    class="customer-img"
  />
  <h3 class="customer-subtitle">Jon Doe</h3>
  <p class="customer-job-text">Company Inc.</p>
  <p class="customer-text">
    I've been using this app for a few weeks now and I have to say, I'm really
    impressed. It's so easy to use and the personalized recommendations are
    spot-on. Plus, the transactions are secure and the updates are always
    timely. I would definitely recommend this app to anyone looking for a better
    mobile experience
  </p>
</section>
