<section class="features">
  <h2 class="features-title">KEY FEATURES</h2>
  <p class="features-description">
    Get the best mobile experience with our Mobileapp. With a user-friendly
    interface, personalized recommendations, secure transactions, and real-time
    updates, our app offers everything you need to stay connected and productive
  </p>
  <img
    class="features-image"
    src="/src/img/features-Khrystyna.svg"
    alt="sitting-man"
  />
  <ul class="features-list">
    <li class="features-item">
      <img class="" src="/src/img/features-svg-Khrystyna.svg" alt="" />
      <h3 class="features-subtitle">User-Friendly Interface:</h3>
      <p class="features-st-text">
        Intuitive and easy-to-navigate interface designed to provide a seamless
        mobile experience for users.
      </p>
    </li>
    <li class="features-item">
      <img class="" src="/src/img/features-svg-Khrystyna.svg" alt="" />
      <h3 class="features-subtitle">Personalized Recommendations:</h3>
      <p class="features-st-text">
        The app provides personalized recommendations based on user preferences
        and behavior, allowing for more relevant content and a more engaging
        experience.
      </p>
    </li>
    <li class="features-item">
      <img class="" src="/src/img/features-svg-Khrystyna.svg" alt="" />
      <h3 class="features-subtitle">Real-Time Updates:</h3>
      <p class="features-st-text">
        Users receive real-time updates and notifications to stay informed on
        important news and events, and to stay up-to-date with changes to the
        app.
      </p>
    </li>
    <li class="features-item">
      <img class="" src="/src/img/features-svg-Khrystyna.svg" alt="" />
      <h3 class="features-subtitle">Integration with Other Apps:</h3>
      <p class="features-st-text">
        The app integrates with other popular apps, making it easy for users to
        connect with their social media accounts, or to easily make in-app
        purchases using their preferred payment method.
      </p>
    </li>
    <li class="features-item">
      <img class="" src="/src/img/features-svg-Khrystyna.svg" alt="" />
      <h3 class="features-subtitle">Multi-Language Support:</h3>
      <p class="features-st-text">
        The app integrates with other popular apps, making it easy for users to
        connect with their social media accounts, or to easily make in-app
        purchases using their preferred payment method.
      </p>
    </li>
    <li class="features-item">
      <img class="" src="/src/img/features-svg-Khrystyna.svg" alt="" />
      <h3 class="features-subtitle">Offline Capabilities:</h3>
      <p class="features-st-text">
        The app offers offline capabilities, allowing users to access certain
        features and content even when they are not connected to the internet.
      </p>
    </li>
  </ul>
</section>
