<footer class="footer">
  <div>
    <h3 class="footer.title">CONTACT US</h3>

    <div>
      <p class="footer-subtitle">Get in touch with us</p>
      <p class="footer-text">Have a question or comment about our app? Get in touch with us using the contact form below
        and our team will
        respond
        shortly.</p>
      <address>
        <ul class="footer-social-media">
          <li><a href="" width="40" height="40">
              <svg>
                <use></use>
              </svg>
            </a></li>
          <li><a href="" width="40" height="40">
              <svg>
                <use></use>
              </svg>
            </a></li>
          <li><a href="" width="40" height="40">
              <svg>
                <use></use>
              </svg>
            </a></li>
        </ul>
        <ul>
          <li><a href="telto: +xx-xxxx-xxxx-xx">+xx-xxxx-xxxx-xx</a></li>
          <li><a href="mailto: goIteens@gmail.com">goIteens@gmail.com</a></li>
        </ul>
      </address>
      <form>
        <label for=""><input type="text" name="user-name" placeholder="Name"></label>
        <label for=""><input type="email" name="user-email" id="" placeholder="Email"></label>
        <label for=""><textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea></label>
        <button type="submit">SUBMIT</button>
      </form>

      <p>© 2019 GoIteens Template. All Rights Reserved</p>
    </div>

  </div>
</footer>