<section class="hero">
  <h2 class="hero-title">Introducing Mobileapp</h2>
  <p class="hero-text">Download our mobile app today!</p>
  <ul class="hero-list">
    <li class="hero-list-item">
      Real-time updates and notifications for timely information
    </li>
    <li class="hero-list-item">
      Robust analytics and reporting for data-driven insights
    </li>
    <li class="hero-list-last-item">
      Offline capabilities for uninterrupted use
    </li>
  </ul>
  <button class="hero-btn" type="button">Download</button>
</section>
