<section class="team">
  <div class="container">
    <h2 class="team-title">OUR TEAM</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <ul class="team-list">
      <li class="team-item">
        <img class="team-image" src=""></img>
        <div class="team-card">
          <h3 class="team-name">David Patel</h3>
          <p class="team-professional">Managing Direcor</p>
        </div>
      </li>
      <li class="team-item">
        <img class="team-image"></img>
        <div class="team-card">
          <h3 class="team-name">Rachel Kim</h3>
          <p class="team-professional">Lead Designer</p>
        </div>
      </li>
      <li class="team-item">
        <img class="team-image"></img>
        <div class="team-card">
          <h3 class="team-name">Samantha Chen</h3>
          <p class="team-professional">Lead Developer</p>
        </div>
      </li>
      <li class="team-item">
        <img class="team-image"></img>
        <div class="team-card">
          <h3 class="team-name">Andrew Nguyen</h3>
          <p class="team-professional">Sr. UI Designer</p>
        </div>
      </li>
    </ul>
  </div>
</section>
