.footer {
    background-color: black;
    color: #fafafa;
}

.footer.title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

.footer-subtitle {
    font-weight: 500;
    font-size: 24px;
    color: #fff;
}

.footer-text {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

.footer-social-media {}