.hero {
  padding: 145px 16px;
  background-color: #06071b;
  background-image: url(../src/img/hero/hero-backround.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 12px;
  color: #fff;
}
.hero-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 28px;
  color: #fff;
}
.hero-list {
}
.hero-list-item {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 14px;
  color: #fff;
}

.hero-list-last-item {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin-bottom: 62px;
}

.hero-btn {
  border-radius: 5px;
  width: 200px;
  height: 42px;
  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
